.container {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input {
    margin-right: 5px;
    width: 150px;
}
.close {
    cursor: pointer;
    padding-left: 5px;
}