.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 36px 3px 3px;
    background: #fff1b4;
    margin-left: 3px;
    position: relative;
}
.container:hover {
    border: 1px solid #f58b8b;
}
.delimiter {
    font-size: 30px;
    padding: 0px 0px 6px 0px;
}
.coefficient {
    width: 30px;
    height: 20px;
    font-size: 1rem;
}
.variable {
    width: 80px;
    height: 20px;
}
.power {
    position: absolute;
    top: 5px;
    right: 14px;
    width: 20px;
    height: 15px;
    font-size: .9rem;
}
.close {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 2px;
    cursor: pointer;
}
