.container {
    display: block;
    width: 100%;
}
.canvas {
    padding: 10px;
    background: #ffffff;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.preview {
    background: #f3f3f3;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.elems {
    height: 180px;
    width: 350px;
    padding: 5px;
    background: #fdf7db;
    overflow-y: auto;
}
.previewButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.previewButtons > button {
    padding: 5px;
    margin: 5px;
}
.debugger {
    width: 100%;
    height: 100px;
}
.buttons {
    padding: 10px;
    background: #ffeded;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons > * {
    padding: 5px;
    margin: 5px;
}
