body,
html {
    font-size: 13px;
}
* {
    box-sizing: border-box;
}
.header {
    background: cyan;
}
.box {
    background: cornsilk;
    padding: 10px;
    min-height: 75px;
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
}
